body{
    min-height: 100vh;
    display: flex;
    background-color: #ededed;
}     



#container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 600px;
    height: 600px;
    background-color:  #fefefe;
    box-shadow: 0px 0px 4px 2px black;
}

.square{
    
    aspect-ratio: 1/1;
    
   
    box-sizing: border-box;
}

.row{
    display: flex;
}

